/* Archivo: styles.css */

/* Variables CSS */
:root {
  --fondo-claro: #fffafa;
  --fondo-oscuro: #2a2a2a;
  --primary-color: #c8e6f0;
  --secondary-color: #555;
  --bg-color: #fffafa;
  --text-color: #333333;
  --button-color: #333333;
  --spacing: 1rem;
  --hover-color: #d9eef4;
  --bg-color-anuncio: rgba(228, 246, 255, 0.43);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  h1,
  h2 {
    font-family: "Baloo Bhai", sans-serif;
  }
  h3,
  h4 {
    font-family: "Baloo 2", sans-serif;
  }
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 15px 30px;
}
/* Encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 15px 0;
  background-color: var(--primary-color);
  .header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;

    h3 {
      padding-left: 30px;
      font-weight: bold;
    }
    svg {
      transition: transform 0.3s ease-in-out;
      animation: botear 1s ease-in-out 3;

      &:hover {
        transform: scale(1.2) rotate(15deg);
      }
    }
    a {
      text-decoration: none;
      color: var(--text-color);
      &:hover {
        color: #555;
      }
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    padding: 10px;

    .header__nav-list {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      a,
      input {
        display: inline-block;
        text-decoration: none;
        color: var(--text-color);
        padding: 10px 30px;
      }
      a {
        &:hover {
          background-color: var(--hover-color);
          border-radius: 28px;
        }
      }
      .carrito {
        animation: moverCarrito 1s ease-in-out infinite;
      }
    }
    .input_Search {
      font-size: 1em;
      border-radius: 28px;
      border: none;
      width: 170px;
    }
  }
}

/* Seccion de los detalles del libro */
.detallesLibro {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;

  .detallesLibro_Datos {
    display: flex;
    gap: 20px;

    .detallesLibro_Imagen {
      margin-left: 50px;
      img {
        max-width: 230px;
        max-height: 375px;
        object-fit: contain;
      }
    }

    .detallesLibro_Informacion {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      margin: 30px 0;

      .detallesLibro_TituloAutor {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h2 {
          font-size: 1.2em;
          font-weight: bold;
          margin: 0;
        }

        .autor {
          font-size: 1.2em;
          font-weight: bold;
          margin: 0;
          color: #333;
        }
      }

      .detallesLibro_Detalles {
        display: flex;
        flex-direction: column;
        gap: 3px;

        p {
          font-size: 0.95em;
          color: #555;
          margin: 0;
        }
      }
    }
  }

  .detallesLibro_Comprar {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    height: 375px;
    width: 250px;
    .compra {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1.5em;
        color: #f57f7f;
        font-weight: bold;
        margin-bottom: 10px;
      }
      button {
        padding: 12px 25px;
        background-color: #2980b9;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1em;
      }

      button:hover {
        background-color: #3498db;
      }
    }

    .separadorVertical {
      width: 1px;
      height: 100%;
      background-color: #ccc;
      margin: 0 20px;
    }
  }
}

/* Seccion de sinopsis */
.sinopsis {
  z-index: 2;
  .tituloSeccion {
    text-align: left;
    margin-left: 150px;
    .linea {
      width: 30%;
      bottom: -10px;
      left: 3%;
    }
  }
  p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.8;
    margin: 100px 150px;
    padding-right: 30px;
  }
}

/* Seccion de las recomendaciones */
.otrosLibros {
  margin-bottom: 150px;
  z-index: 2;
  .tituloSeccion {
    text-align: right;
    margin-right: 150px;
    .linea {
      width: 40%;
      bottom: -10px;
      right: 4%;
    }
  }

  .d-flex {
    display: flex;
    justify-content: center;
    gap: 140px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(180deg)
      brightness(100%) contrast(100%);
  }

  .book {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    img {
      width: 180px;
      height: 250px;
      border-radius: 8px;
    }
    h3 {
      font-size: 1.1em;
      margin: 10px 0;
    }
    .precio {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }
    &:hover,
    &:focus {
      background-color: rgb(255, 255, 255);
      transform: scale(1.1);
    }
  }
}

/* Pie de página */
.footer {
  z-index: 2;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;

  .footer_contactos,
  .footer_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1 1 200px;

    .footer_contacto,
    .footer_social {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 10px 0;
      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
      }
    }
  }
  .footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
    }
    a:hover {
      color: #2980b9;
      transform: scale(1.1);
    }
  }
}

.background-rectangle {
  position: fixed;
  transform: rotate(65deg) scaleY(5);
  top: 33%;
  left: 67%;
  width: 100vh;
  height: 100vh;
  background-color: rgba(245, 246, 252, 1);
  z-index: -1;
}

.background-rectangle2 {
  position: fixed;
  transform: rotate(-70deg) scaleY(5);
  top: 50%;
  left: 67%;
  width: 100vh;
  height: 100vh;
  background-color: rgba(255, 245, 245, 1);
  z-index: -2;
}

.tituloSeccion {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  .linea {
    border: none;
    border-top: 2px solid #000;
    margin: 10px 0;
    position: absolute;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    .header_logo {
      padding-left: 0;
      margin-bottom: 10px;
    }
    .header__nav {
      padding: 0;
      margin-top: 10px;
      .header__nav-list {
        flex-direction: column;
        align-items: flex-start;
        a {
          padding: 10px 0;
        }
      }
      .input_Search {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    .header_logo {
      padding-left: 0;
      margin-bottom: 10px;
    }
    .header__nav {
      padding: 0;
      margin-top: 10px;
      .header__nav-list {
        flex-direction: column;
        align-items: flex-start;
        a {
          padding: 10px 0;
        }
      }
      .input_Search {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
/*
// Modo oscuro
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--fondo-oscuro);
        color: #FFFAFA;
    }
    .background-rectangle2 {
        background-color: rgba(40, 40, 40, 1);
    }
    .background-rectangle{
        background-color: rgba(30, 30, 40, 1);
    }
    .sinopsis {
        p {
            color: #FFF;
        }
    }
}
*/
