/* Archivo: styles.css */

/* Variables CSS */
:root {
  --fondo-claro: #fffafa;
  --fondo-oscuro: #2a2a2a;
  --primary-color: #c8e6f0;
  --secondary-color: #555;
  --bg-color: #fffafa;
  --text-color: #333333;
  --button-color: #333333;
  --spacing: 1rem;
  --hover-color: #d9eef4;
  --bg-color-anuncio: rgba(228, 246, 255, 0.43);
}

/* Seccion de los detalles del libro */
.detallesLibro {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;

  .detallesLibro_Datos {
    display: flex;
    gap: 20px;

    .detallesLibro_Imagen {
      margin-left: 50px;
      img {
        max-width: 230px;
        max-height: 375px;
        object-fit: contain;
      }
    }

    .detallesLibro_Informacion {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      margin: 30px 0;

      .detallesLibro_TituloAutor {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h2 {
          font-size: 1.2em;
          font-weight: bold;
          margin: 0;
        }

        .autor {
          font-size: 1.2em;
          font-weight: bold;
          margin: 0;
          color: #333;
        }
      }

      .detallesLibro_Detalles {
        display: flex;
        flex-direction: column;
        gap: 3px;

        p {
          font-size: 0.95em;
          color: #555;
          margin: 0;
        }
      }
    }
  }

  .detallesLibro_Comprar {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    height: 375px;
    width: 250px;
    .compra {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1.5em;
        color: #f57f7f;
        font-weight: bold;
        margin-bottom: 10px;
      }
      button {
        padding: 12px 25px;
        background-color: #2980b9;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1em;
      }

      button:hover {
        background-color: #3498db;
      }
    }

    .separadorVertical {
      width: 1px;
      height: 100%;
      background-color: #ccc;
      margin: 0 20px;
    }
  }
}

/* Seccion de sinopsis */
.sinopsis {
  z-index: 2;
  .tituloSeccion {
    text-align: left;
    margin-left: 150px;
    .linea {
      width: 30%;
      bottom: -10px;
      left: 3%;
    }
  }
  p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.8;
    margin: 100px 150px;
    padding-right: 30px;
  }
}

/* Seccion de las recomendaciones */
.otrosLibros {
  margin-bottom: 150px;
  z-index: 2;
  .tituloSeccion {
    text-align: right;
    margin-right: 150px;
    .linea {
      width: 40%;
      bottom: -10px;
      right: 4%;
    }
  }

  .d-flex {
    display: flex;
    justify-content: center;
    gap: 140px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(180deg)
      brightness(100%) contrast(100%);
  }

  .book {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    img {
      width: 180px;
      height: 250px;
      border-radius: 8px;
    }
    h3 {
      font-size: 1.1em;
      margin: 10px 0;
    }
    .precio {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }
    &:hover,
    &:focus {
      background-color: rgb(255, 255, 255);
      transform: scale(1.1);
    }
  }
}
/* Media Queries */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}