/* Archivo: styles.css */

/* Variables CSS */
:root {
    --fondo-claro: #FFFAFA;
    --fondo-oscuro: #2A2A2A;
    --primary-color: #C8E6F0;
    --secondary-color: #555;
    --bg-color: #FFFAFA;
    --text-color: #333333;
    --button-color: #333333;
    --spacing: 1rem;
    --hover-color: #d9eef4;
    --bg-color-anuncio: rgba(228, 246, 255, 0.43);
}
/* Sección grid general */
.gripGeneral {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "busqueda busqueda"
        "filtros resultadoLibros";
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
}

/* Sección de busqueda */
.busqueda {
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    
    .opciones {
        display: flex;
        gap: 8px;
        align-items: center;
    
        input[type="radio"] {
            display: none;
        }
    
        label {
            display: inline-block;
            padding: 5px 10px;
            background-color: #e0e0e0;
            border-radius: 5px;
            cursor: pointer;
            font-size: 0.9em;
            transition: background-color 0.3s;
        }
    
        input[type="radio"]:checked + label {
            background-color: #2980b9;
            color: #fff;
        }
    }
}

/* Sección de filtros */
.filtros {
    grid-area: filtros;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    #priceText {
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
    }
}

/* Sección de resultados de libros */
.resultadoLibros {
    grid-area: resultadoLibros;
    margin-bottom: 50px;

    .resultadoLibrosEncontrados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;

        .resultadoLibrosEncontrado {
            display: flex;
            border: 2px solid #000;
            border-radius: 8px;
            padding: 15px;
            align-items: center;
            justify-content: flex-start;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            
            width: 310px;
            height: 220px;
            
            img {
                max-width: 135px;
                max-height: 190px;
                object-fit: contain;
                margin-right: 15px;
            }
            
            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;

                h3, p {
                    margin-bottom: 10px;
                }

                .precioBoton {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .precio {
                        color: #F57F7F;
                        margin-bottom: 5px;
                    }

                    button {
                        margin-top: 10px;
                        padding: 8px 20px;
                        background-color: var(--button-color);
                        color: white;
                        border: none;
                        cursor: pointer;
                        border-radius: 8px;
                        text-align: center;
                        display: block;
                        width: 100%;
                        margin-top: 0;
                        font-size: 80%;
                        white-space: nowrap;
                    }

                    button:hover {
                        background-color: #2980b9;
                    }
                }
            }
        }
    }
}



/* Media Queries */
@media (max-width: 768px) {
    .resultadoLibrosEncontrados {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .resultadoLibrosEncontrados {
        grid-template-columns: repeat(1, 1fr);
    }
}