/* Hero */
.hero {
  min-height: 700px;
  overflow: hidden;
  background-image: url("../imgs/paginaPrincipal/hero/hero.png");
  background-size: cover;
  background-position: center;
}

.hero_content {
  max-width: 55%;
  height: auto;
  margin-left: 70px;
}

.hero_content h1 {
  font-size: 9em;
  line-height: 0.9;
}

#circleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

#heroButton {
  padding: 15px 30px;
  background-color: var(--button-color);
  color: white;
  border: none;
  cursor: pointer;
  max-width: 300px;
  border-radius: 8px;
  margin-top: 20px;
  align-self: center;
  position: relative;
  display: block;
  transition: background-color 0.3s ease;
}

#heroButton:hover {
  background-color: #666;
}
